/* --- start of CSS reset --- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  
  a {
    text-decoration: none;
  }
  
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
  
  /* --- end of CSS reset --- */

 #root {
    background-color: #f2f2f2;
    display: flex;
    padding-top: 120px;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    color: #006837;
    font-size: 36px;
    font-weight: 300;
  }

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  background-color: #f9c582;
  padding: 20px;
}

.text-container p1 {
  color: #006837;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.text-container p2 {
  color: #006837;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  padding-bottom: 20px;
}

input {
  background-color: white;
  width: 100%;
/*   max-width: 480px; */
  height: 64px;
  color: #98A991;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
}


button {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 21px;
  color: #006837;
  background: #F9c582;
}
  
@media only screen and (max-width: 520px) {
  h1 {
font-size: 24px;
  }

  .text-container {
    width: 100%;
  }

};